:root{
    --zoom: 1.3;
}

.switch {
    position: relative;
    display: inline-block;
    width: calc(30px * var(--zoom));
    height: calc(17px * var(--zoom));
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: calc(13px * var(--zoom));
    width: calc(13px * var(--zoom));
    left: calc(2px * var(--zoom));
    bottom: calc(2px * var(--zoom));
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(calc(13px * var(--zoom)));
    -ms-transform: translateX(calc(13px * var(--zoom)));
    transform: translateX(calc(13px * var(--zoom)));
}
  
  /* Rounded sliders */
.slider.round {
    border-radius: calc(17px * var(--zoom));
}
  
.slider.round:before {
    border-radius: 50%;
}