*{
    transition: none;
}
:root{
    --zoom: 1.3;
}

.switch {
    position: relative;
    display: inline-block;
    width: calc(30px * var(--zoom));
    height: calc(17px * var(--zoom));
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: calc(13px * var(--zoom));
    width: calc(13px * var(--zoom));
    left: calc(2px * var(--zoom));
    bottom: calc(2px * var(--zoom));
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(calc(13px * var(--zoom)));
    -ms-transform: translateX(calc(13px * var(--zoom)));
    transform: translateX(calc(13px * var(--zoom)));
}
  
  /* Rounded sliders */
.slider.round {
    border-radius: calc(17px * var(--zoom));
}
  
.slider.round:before {
    border-radius: 50%;
}

*{
    color: #fff;
    background: rgba(0, 0, 0, 0);
}
html{
    width: 500px;
    height: 300px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #333;
}
.switch, .name{
    display: inline-block;
}
#SearchQuestion, #gotoBenedu, #TestList, #MyPoint, #TaskList{
    font-size: 17px;
    border: 1px solid #fff;
    padding: 5px 15px;
    border-radius: 7px;
    margin: 0 5px 10px 0;
    transition: all 300ms;
}
#SearchQuestion:hover, #gotoBenedu:hover, #TestList:hover, #MyPoint:hover, #TaskList:hover{
    color: #333;
    background: #fff;
}

.name{
    font-size: 17px;
    margin: 0 0 0 7px;
}
.line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 20px 20px 0;
}
.box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.title{
    font-size: 25px;
    margin: 0 0 20px 0;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 30px;
    margin: 0 10px 0 0;
}